@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Regular.ttf") format("woff");
  font-weight: bold;
}

.main-page-wrapper {
    padding-top: 60px;
    margin-bottom: 500px;

    .text {
      font-size: 25px;
      text-align: center;
      font-weight: bold;
      font-family: Rubik, sans-serif;
      color: #34753C;
    }

  .drag-area {
    margin: 100px 100px 0;
    height: 179.5px;

    .text.small {
      margin-top: 100px;
      font-size: 20px;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.81);
    }

    .text.upload {
      margin-top: 80px;
      font-size: 25px;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.81);
    }

    .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;

      .button {
        width: 11.5vw;
      }
    }

    .text.extra-small {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.51);
      margin-top: 15px;
      margin-bottom: 25px;
      font-family: Roboto, sans-serif;
      font-weight: 300;
    }

    .drop-text {
      text-align: center;
      margin-top: 100px;
      font-size: 30px;
      color: rgba(0, 0, 0, 0.51);
    }

    .file-name {
      text-align: center;
      margin-top: 15px;
      font-size: 17px;
      color: rgba(0, 0, 0, 0.51);
    }
  }

  .drag-area.none {
    margin: 0 100px;
    border: none;
  }
  .loading-wrapper {
    display: flex;
    justify-content: center;

    .loading {
      margin-top: 70px;
    }
  }

  .info-wrapper {
    display: flex;
    justify-content: center;

    .info {
      width: 200px;
      margin-top: 15px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.51);
    }
  }

  .rules-wrapper {
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;

    .rule-wrapper{
      border-top: 3px solid #EEF982;
      width: 25%;
      font-size: 23px;
      padding-top: 5px;
      color: rgba(0, 0, 0, 0.51);
    }
  }

  .MuiCircularProgress-colorPrimary {
    color: #895F27 !important;
  }
}
