body {
  .MuiButtonBase-root {
    &.MuiButton-containedPrimary {
      background-color: #34753C;
      color: #fff;
      box-shadow: none;

      &:hover {
        background-color: rgba(#34753C, 0.8);
      }
    }

    &.MuiButton-outlinedPrimary {
      border-color: #34753C;
      color: #34753C;
      box-shadow: none;

      &:hover {
        border-color: #34753C;
        background-color: rgba(#fff, 0.1);
      }
    }
  }
}

.MuiButton-label {
  padding-top: 2px;
}
